@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: #1b1b1b;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #ededed;
    
  }
}

body {
  color: var(--text);
  background: var(--background);
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10;
  font-style: normal;
}
